$logo: #f9ba32;

@import "./../navbar/navbar.module.scss";

.chatCont {
  display: flex;
  .ham {
    display: none;
  }
  .yes {
    display: none;
  }
  justify-content: space-around;
  .card {
    border: none;
    box-shadow: none;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    width: 27.5%;
    max-height: 93%;
    margin-top: -5px;
    padding-left: 3px;
    margin: auto;
    display: flex;
    margin-left: -30;
    position: fixed;
    bottom: 0px;

    @include mq("tablet", max) {
      width: 100vw;
    }

    form {
      margin-top: 1rem;
      width: 100%;
      z-index: 200;
      background: white;
      border-top: rgb(248, 247, 247);
      padding-left: 0.1rem;
      border: rgb(119, 116, 116) solid 1px;
      border-radius: 5px;
      position: sticky;
      font-size: 10pt;
      bottom: 0;
    }
  }
}

.chatImage {
  max-width: 15%;
  border-radius: 3px;
  padding-right: 5px;
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0.1rem;

  &:hover {
    transition: 0.2s ease-in-out;
    background: rgb(248, 247, 247);
    opacity: 1;
  }

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    color: red;
  }

  .top::before {
    content: "";
    border-top: red 1.5px solid;
    width: 50%;
    height: 0.2px;
    margin-right: 1rem;
  }
  .top::after {
    content: "";
    border-top: red 1.5px solid;
    display: block;
    width: 50%;
    height: 0.2px;
    margin-left: 1rem;
  }

  div {
    display: flex;
    align-items: center;

    .timeName {
      margin-bottom: -1;
      display: flex;
      flex-direction: row;
      p {
        padding-right: 0.5rem;
      }
    }
    div {
      display: flex;
      flex-flow: column wrap;

      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
    }
  }
}

.cardNav {
  position: sticky;
  bottom: 0;
  margin: 1rem;

  width: 20%;
  height: 300%;

  overflow: scroll;
  background: #2f3131;
  box-shadow: none;
  border: none;
  padding-left: 1rem;
  h4 {
    color: white;
  }
  small {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12pt;
    strong {
      color: #f9ba32;
    }
  }
}

.cardAbout {
  position: sticky;
  margin: 1rem;
  width: 15%;
  height: 40%;
  top: 4rem;
  overflow: scroll;
  background: #fafafa;

  box-shadow: none;
  border: none;
  p {
    color: #2e8b57;
  }
  img {
    width: 70px;
    border-radius: 10%;
  }
}

.very {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.very::before {
  content: "";
  border-top: black 1px solid;
  width: 100%;
  height: 0.2px;
  margin-right: 1rem;
}
.very::after {
  content: "";
  border-top: black 1px solid;
  display: block;
  width: 40%;
  height: 0.2px;
  margin-left: 0.2rem;
}

.smalls {
  margin-top: -18px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13pt;
}

.chatCont {
  @include mq("navbar", max) {
    .cardNav {
      display: none;
    }

    .cardAbout {
      display: none;
    }

    .yes {
      position: fixed;
      display: flex;
      background: #2f3131;
      top: 3rem;
      overflow: scroll;
      animation: slideThrough 0.5s 1 forwards;
      padding-left: 1rem;
      padding-top: 2%;
      border: none;
      .names {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-top: 4%;
        p::after {
          content: " ";
          height: 10px;
          width: 10px;
          background-color: green;
          border-radius: 50%;
          display: inline-block;
        }
      }

      box-shadow: none;
      p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 2rem;
      }
      .innerp::before {
        content: "#";
      }

      img {
        width: 60px;
        border-radius: 10%;
        padding-right: 1rem;
      }
    }
    .ham {
      display: block;
      font-size: 20pt;
      color: #f9ba32;
      position: fixed;
      top: 8px;
      left: 30px;
      z-index: 4;
    }
  }
}

@keyframes slideThrough {
  from {
    right: 90rem;
    width: 0%;
    height: 100%;
  }
  to {
    right: 0;
    width: 100%;
    height: 100%;
  }
}
