$logo: #f9ba32;

.chatCont {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;

  justify-content: center;
  .card {
    overflow-y: scroll;
    overflow-x: hidden;
    align-content: center;
    width: 55%;
    margin-top: 3px;
    padding-left: 3px;
    margin: auto;
    display: flex;

    position: fixed;
    bottom: 0px;
    max-height: 90vh;

    form {
      margin-top: 2rem;
      z-index: 200;
      background: white;
      border-top: rgb(248, 247, 247);
    }
  }
}

.chatImage {
  max-width: 10%;
  border-radius: 3px;
  padding-right: 5px;
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0.1rem;

  &:hover {
    transition: 0.2s ease-in-out;
    background: rgb(248, 247, 247);
    opacity: 1;
  }

  .top {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .top::before {
    content: "";
    border-top: $logo 1px solid;
    width: 50%;
    height: 0.2px;
    margin-right: 1rem;
  }
  .top::after {
    content: "";
    border-top: $logo 1px solid;
    display: block;
    width: 50%;
    height: 0.2px;
    margin-left: 1rem;
  }

  div {
    display: flex;
    align-items: center;

    .timeName {
      margin-bottom: -1;
      display: flex;
      flex-direction: row;
      p {
        padding-right: 0.5rem;
      }
    }
    div {
      display: flex;
      flex-flow: column wrap;

      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
    }
  }
}
