$logo: #f9ba32;

.chatCont {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;

  justify-content: center;
  .card {
    overflow: scroll;
    align-content: center;
    width: 55%;
    margin-top: 3px;
    padding-left: 3px;
    margin: auto;
    display: flex;
  }
}

.chatImage {
  max-width: 10%;
  border-radius: 3px;
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: $logo 0.5rem solid;
}
