$logo: #f9ba32;

@import "./../navbar/navbar.module.scss";

.chatCont {
  display: flex;

  justify-content: space-around;
  .card {
    border: none;
    box-shadow: none;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    width: 27.5%;
    max-height: 93%;
    margin-top: 3px;
    padding-left: 3px;
    margin: auto;
    display: flex;
    margin-left: -30;
    position: fixed;
    bottom: 0px;

    @include mq("tablet", max) {
      width: 100vw;
    }

    form {
      margin-top: 2rem;
      width: 100%;
      z-index: 200;
      background: white;
      border-top: rgb(248, 247, 247);
      padding-left: 0.1rem;
      border: rgb(119, 116, 116) solid 1px;
      border-radius: 5px;
      position: sticky;
      bottom: 0;
    }
  }
}

.chatImage {
  max-width: 15%;
  border-radius: 3px;
  padding-right: 5px;
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0.1rem;

  &:hover {
    transition: 0.2s ease-in-out;
    background: rgb(248, 247, 247);
    opacity: 1;
  }

  .top {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .top::before {
    content: "";
    border-top: $logo 1px solid;
    width: 50%;
    height: 0.2px;
    margin-right: 1rem;
  }
  .top::after {
    content: "";
    border-top: $logo 1px solid;
    display: block;
    width: 50%;
    height: 0.2px;
    margin-left: 1rem;
  }

  div {
    display: flex;
    align-items: center;

    .timeName {
      margin-bottom: -1;
      display: flex;
      flex-direction: row;
      p {
        padding-right: 0.5rem;
      }
    }
    div {
      display: flex;
      flex-flow: column wrap;

      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
    }
  }
}

.cardPeople {
  box-shadow: none;
  border: none;
  border-radius: none;
  background: none;
  p {
    color: black;
  }
}

.cardNav {
  position: sticky;
  bottom: 0;
  margin: 1rem;

  width: 20%;
  height: 300%;

  overflow: scroll;
  background: #3375aa;
  box-shadow: none;
  border: none;
  padding-left: 1rem;
  h4 {
    color: black;
  }
}

.cardAbout {
  position: sticky;
  margin: 1rem;
  width: 15%;
  height: 40%;
  top: 4rem;
  overflow: scroll;
  background: #fafafa;

  box-shadow: none;
  border: none;
  p {
    color: #2e8b57;
  }
  img {
    width: 70px;
    border-radius: 10%;
  }
}
