@import url("https://fonts.googleapis.com/css?family=Play|Source+Sans+Pro");

$back: #f8f1e5;
$logo: #f9ba32;
$coal: #2f3131;
$unique: #426e86;
$mainfont: "Source Sans Pro", sans-serif;

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "medium": 997px,
  "tablet-small": 640px,
  "galaxy": 360px,
  "navbar": 865px,
  "login": 1495,
  "small": 549px,
  "iphone": 415px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

.navCont {
  background: $coal;
  display: flex;
  font-family: $mainfont;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 4px 1px $coal;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    // svg {

    // }

    h1 {
      color: $logo;
      font-family: $mainfont;
    }
  }

  input {
    position: absolute;
    width: 30%;
    display: none;
  }

  img {
    width: 90px;
  }
  ul {
    display: flex;
    color: #f8f1e5;
    align-items: center;

    list-style: none;
    justify-content: space-around;
    max-width: 25%;
    font-weight: 900;
    li {
      &:hover {
        border-bottom: #f9ba32 1px solid;
        cursor: pointer;
      }
    }

    .black {
      background: $coal;
      border: none;
      color: white;
    }
  }

  @include mq("tablet-wide", max) {
    body {
      margin-top: 5px;
    }

    h1 {
      display: none;
    }
  }
}

.navCont {
  @include mq("navbar", max) {
    display: flex;
    justify-content: space-evenly;
    header {
      display: hidden;
    }
  }
}

.navCont {
  @include mq("iphone", max) {
    box-shadow: none;
    height: 6vh;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-evenly;
    padding-right: 3rem;

    width: 100%;
    header {
      visibility: visible;

      width: 4vh;
      img {
        width: 55px;
      }
    }
    ul {
      justify-content: space-evenly;
      background: none;
      padding-left: 1rem;

      li {
        background: none;
        padding: none;
        all: unset;
      }
    }
  }
}
