@import url("https://fonts.googleapis.com/css?family=Play|Source+Sans+Pro");

$back: #f8f1e5;
$logo: #f9ba32;
$coal: #2f3131;
$unique: #426e86;
$mainfont: "Source Sans Pro", sans-serif;

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

.navCont {
  background: $coal;
  display: flex;
  font-family: $mainfont;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 4px 9px 0 $coal;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    // svg {

    // }

    h1 {
      color: $logo;
      font-family: $mainfont;
    }
  }

  input {
    position: absolute;
    width: 30%;
    display: none;
  }

  img {
    width: 90px;
  }
  ul {
    display: flex;
    color: #f8f1e5;
    align-items: center;

    list-style: none;
    justify-content: space-around;
    max-width: 25%;
    font-weight: 900;
    li {
      &:hover {
        border-bottom: #f9ba32 1px solid;
        cursor: pointer;
      }
    }

    .black {
      background: $coal;
      border: none;
      color: white;
    }
  }

  @include mq("tablet-wide", max) {
    body {
      margin-top: 5px;
    }
    ul {
      width: 10%;
      justify-content: space-evenly;
      li {
        font-size: 12px;
      }
    }
    h1 {
      display: none;
    }
  }
}

.navCont {
  @include mq("tablet", max) {
    display: flex;
    justify-content: space-around;
    ul {
      width: 99%;
      border: red solid 5px;
    }
  }
}
