body {
  background: #fafafa;
  overflow: scroll;
}

.formCont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  height: 40%;

  .loginForm {
    display: flex;
    border: #dddddd 1px solid;
    border-radius: 7px;
    padding: 19px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    background: white;

    input {
      width: 100%;
      border-radius: 3px;
      line-height: normal;
      &::placeholder {
        color: red;
      }
    }

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    button {
      width: 100%;
    }
  }
}

.p {
  color: white;
  margin-top: 2rem;
  width: 69%;
  background: linear-gradient(
    to bottom,
    rgba(61, 61, 61, 0.14),
    rgba(51, 51, 51, 0.03) 3px,
    transparent
  );
}

.loginBtn {
  padding: 0 46px 0 46px;
}

p {
  color: black;
  font-weight: 600;
}
