@import ".././navbar/navbar.module.scss";

body {
  background: #fafafa;
  overflow: scroll;
}

.formCont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  height: 40%;

  .loginForm {
    display: flex;
    border: #dddddd 1px solid;
    border-radius: 7px;
    padding: 19px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    background: white;

    input {
      width: 100%;
      border-radius: 3px;
      line-height: normal;
    }

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
    button {
      width: 100%;
    }
  }
}

.p {
  color: white;
  margin-top: 2rem;
  width: 69%;
  background: linear-gradient(
    to bottom,
    rgba(0, 61, 61, 0.1),
    rgba(0, 51, 51, 0.01) 3px,
    transparent
  );
}

.loginBtn {
  padding: 0 46px 0 46px;
}

p {
  color: black;
  font-weight: 600;
}

.formCont {
  @include mq("login", max) {
    width: 100%;

    .loginForm {
      display: flex;
      border: #dddddd 1% solid;
      border-radius: 7px;
      padding: 19px 20px;

      justify-content: center;
      align-items: center;
      width: 40vw;

      button {
        width: inherit;
      }
    }
  }
}
.formCont {
  @include mq("medium", max) {
    margin: auto;

    width: 100vw;

    .loginForm {
      display: flex;
      border: #dddddd 1% solid;
      border-radius: 7px;
      padding: 19px 20px;

      justify-content: center;
      align-items: center;
      width: 40vw;
    }
  }
}

.formCont {
  @include mq("small", max) {
    margin: auto;

    width: 100vw;

    .loginForm {
      display: flex;
      border: none;
      box-shadow: none;
      border-radius: none;
      padding: 19px 20px;

      justify-content: center;
      align-items: center;
      width: 100vw;
      background: none;
    }
  }
}
