@import "./.././navbar/navbar.module.scss";

.peopleCont {
  display: flex;
  width: 100%;

  justify-content: center;
  .card {
    align-content: center;
    width: 35%;
    box-shadow: none;
  }

  @include mq("tablet", max) {
    flex-direction: column;
    .card {
      width: 100%;
    }
    .cardNav {
      position: sticky;
      width: 100%;
      border: none;
      z-index: 2;
      border-radius: none;
      top: 2.8rem;
      margin-left: none;
    }
  }
}

.cardNav {
  width: 15%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  // border: red solid 1px;
  margin: 1rem;
  position: sticky;
  padding: none;
  top: 4rem;
  box-shadow: none;
  small {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12.5pt;
  }

  .head {
    border-bottom: gray 1px solid;
  }
  .one {
    color: #2e8b57;
    font-size: 12pt;
  }

  .two {
    color: #000080;
    font-size: 12pt;
  }

  .three {
    color: #f9ba32;
    font-size: 12pt;
  }

  .four {
    color: #ff1493;
    font-size: 12pt;
  }
}

.cardPeople {
  box-shadow: none;
}
