@import "./.././navbar/navbar.module.scss";

.peopleCont {
  display: flex;
  width: 100%;

  justify-content: center;
  .card {
    align-content: center;
    width: 35%;
    box-shadow: none;
  }

  @include mq("tablet", max) {
    flex-direction: column;
    .card {
      width: 100%;
    }
    .cardNav {
      position: sticky;
      width: 100%;
      border: none;
      z-index: 2;
      border-radius: none;
      top: 2.8rem;
      margin-left: none;
    }
  }
}

.cardNav {
  width: 10%;
  height: 10%;
  background: #fafafa;
  margin: 1rem;
  position: sticky;
  padding: none;
  top: 4rem;
  box-shadow: none;
  border: none;

  .head {
    border-bottom: gray 1px solid;
  }
  .one {
    color: #2e8b57;
    font-size: 12pt;
    &:hover {
      background: white;
      padding: 1px;
      cursor: pointer;
    }
  }

  .two {
    color: #000080;
    font-size: 12pt;
    &:hover {
      background: white;
      padding: 1px;
      cursor: pointer;
    }
  }

  .three {
    color: #f9ba32;
    font-size: 12pt;
    &:hover {
      background: white;
      padding: 1px;
      cursor: pointer;
    }
  }

  .four {
    color: #ff1493;
    font-size: 12pt;
    &:hover {
      background: white;
      padding: 1px;
      cursor: pointer;
    }
  }
}

.cardPeople {
  box-shadow: none;
}
